<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/text.css">
    <link rel="stylesheet" href="./css/960_24_col.css">
    <link rel="stylesheet" href="./css/Untitled-1.css">
    <title>My Site</title>
</head>
<body>
    <div class="container_24">
        <header>
            <h1>Black + White</h1>
            <nav>
                <ul>
                    <li><a href="#" class="selected">Home</a></li>
                    <li><a href="./portfolio.html">Portfolio</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>

            <div class="banner grid_18">
                <h2>There are many variations of passages of Lorem Ipsum available. </h2>
            </div>
            <div class="grid_6 callout"></div>
        </header>

        <div class="main clearfix">
            <div class="grid_9">
                <h3>Services we offer</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p><a href="#" class="button">Read more</a></p>
            </div>
            <div class="grid_9">
                <h3>How we work</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <p><a href="#" class="button">Read more</a></p>
            </div>
            <div class="grid_6">
                <blockquote>
                    <p>Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form</p>
                </blockquote>
            </div>
            <footer>
                <p><strong>black+white theme by </strong><a href="#">Ijabila</a></p>
            </footer>
        </div>
    </div>
</body>
</html>